
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<h1>Index</h1>
<a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Sayfasına git</a>
<a asp-area="Member" >Member sayfasına git</a>
