@model KullaniciKayitViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KayitOl</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="alert" alert-danger">
        @ViewBag.Message
    </div>"
    <form class="w-50 mx-auto mt-5 shadow" method="post" asp-action="KayitOl2">
        <input type="text" asp-for="Ad" class=" form-control" name="Ad" value="" />
        <span asp-validation-for="Ad" class="text-danger"></span>
        <button type="submit">Gönder</button>
        <div asp-validation-summary="ModelOnly" class="text-info"></div>
        <hr />
        <div asp-validation-summary="All" class="text-success">

        </div>
    </form>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
