
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageError</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-danger lead">bir hata oluştu</h1>
        <h2 class="text-danger lead">@ViewBag.Code</h2>
        <p class="p-2">
            @ViewBag.ErrorMessage
        </p>
    </div>
</body>
</html>
